* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  height: 100vh;
  flex-direction: column;
}
.inline {
  display: inline-block;
}
