#carouselExample {
  position: absolute;
}
.center {
    flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  margin-top: 300px;
  overflow: scroll;
}
.card {
  margin: 5px;
}
